body {
  display: flex;
  flex-flow: column;
  background-color: #D8C3A5;
  color: #E85A4F;
  height: 90vh;
  text-align: center;
}

header,
footer {
  flex: 0;
  width: 100%;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  flex: 1;
}

select,
input {
  max-width: 80%;
  margin: 5px;
  background-color: #EAE7DC;
}

button {
  background-color: #EAE7DC;
  border-radius: 10%;
}

button:hover {
  background-color: #E98074;
}

.container {
  margin: 2em 1em;
}

.container > div {
  display: flex;
  flex-flow: row wrap;
  align-content: flex-start;
  justify-content: space-between;
  align-items: baseline;
  flex-wrap: wrap;
  flex-grow: 2;
  max-height: 500px;
}

div > * {
  margin: 1em;
}

div > h3 {
  width: 100%;
  flex: 2 1 auto;
  margin-bottom: 2em;
}

div > img {
  align-self: center
}

div > p {
  width: 50%;
  flex-basis: content;
}

div > a {
  width: 100%;
  align-self: flex-end;
  justify-self: center;
  margin-top: 2em;
}

.ingredient-list {
  font-weight: bold;
  padding-inline-start: 10px;
}

.ingredient-list > li {
  list-style: none;
  font-weight: lighter;
}

img {
  height: 300px;
  width: 300px;
}

a {
  text-decoration: none;
  color: #8E8D8A
}

div {
  display: flex;
}

@media only screen and (max-width: 1000px) {
  .ingredient-list {
    display: none;
  }
}

@media only screen and (max-width: 600px) {
  main {
    display: flex;
    flex-flow: column;
  }
  img {
    height: 80%;
  }
  .container > div {
    flex-flow: column wrap;
    align-items: center;
  }
  div > p {
    width: 75%;
  }
  .ingredient-list {
    display: none;
  }
}